/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
}

.input-container {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20vh; /* Increase the min-height for the input container */
}
.download-button {
    position: absolute;
    top: 10px;
    left: 10px;
}
.expenses-details {
    max-height: calc(100vh - 20vh); /* Calculate available height excluding input container */
    overflow-y: auto; /* Enable vertical scrolling */
    margin-top: 20px; /* Add some margin */
}

.input-container input[type="text"],
.input-container input[type="number"] {
    width: 30%;
    padding: 12px; /* Increase the padding for larger height */
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.filter-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#json_file {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#view_expenses {
    margin-left: 10px;
    background-color: #007bff;
    color: #ffffff;
    padding: 6px 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#view_expenses:hover {
    background-color: #0056b3;
}
